<div class="container">
    {{> img}}
<h1>Make Godzilla Feared Again</h1>

{{#if error}}
    <div id="error"><h3>⛔️ Oh no, something went wrong. Please try again!</h3></div> 
{{/if}}
<p>Let the almighty Godzilla strike fear into the good people of Tokyo once again! Sign to support inviting Godzilla to the Olympic Games in 2021.<br />Let him do his thing!</p>

<form method="POST" class="signform">
    <input type="hidden" name="signature" id="signature">
    <!-- Always add the following line when using CSRF middleware -->
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <p>Sign here:</p>
    <canvas width="700px" height="100px"></canvas>
    <button>Submit</button>
</form>

</div>