<div class="container">
{{> img}}

<h1>The wise supporters of this live-changing petition</h1>

<p>Of course, the list is going to grow!</p>

</div>
<div class="signers">
{{#supporters}}
<div>{{first}} {{last}}</div>
{{/supporters}}
</div>