<div class="container">
    {{> img}}
<h1>Thank you for your sacrific- uuh, signature, {{first}} {{last}}!</h1>

<p>Check out the other {{number}} wise people who have signed <a href="/signers">right here</a>!</p>

</div>
<div class="wrapper">
    <p>This is your signature:</p>
    <div id="signature">
        <img src="{{signature}}" />
    </div>
</div>
<audio src="/submit.mp3" type="audio/mpeg" autoplay="autoplay"></audio>