* {
    box-sizing: border-box;
    margin: 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Retina display users get privileged treatment (I think) */
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        background-color: #424242;
        position: relative;
    }

    body,
    a {
        color: linen;
    }

    h1,
    h2,
    h3,
    p,
    footer,
    .edit label {
        font-weight: 100;
    }

    h1,
    h2,
    h3,
    p {
        padding: 0 10% 0 10%;
        margin: 5px;
    }

    h1 {
        font-size: 32px;
        grid-row: 2;
    }

    h2,
    h3 {
        text-align: center;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 18px;
    }

    form {
        grid-row: 5;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form input {
        width: 200px;
        height: 30px;
        margin: 10px;
        background: rgba(0, 0, 0, 0.2);
        font-size: 20px;
        color: linen;
    }
    /* makes the arrows in the number-type input field disappear */
    /* thanks to css-tricks for that one: */

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    form input:focus {
        background: white;
        color: black;
    }

    form input,
    button {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
        font-weight: lighter;
        border: none;
        text-align: center;
    }

    canvas {
        border: 3px dotted #0d0c1d;
        grid-row: 2;
        cursor: crosshair;
        margin: 10px;
    }

    button {
        width: 85px;
        height: 25px;
        grid-row: 4;
        grid-column: -3 / -2;
        background: green;
        color: linen;
        font-size: 16px;
        cursor: pointer;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 5px;
        width: 100%;
        opacity: 0.3;
        font-weight: 300;
        font-size: 12px;
        margin-top: 20px;
    }

    .container,
    .container-signers {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container {
        grid-template-rows: 200px 55px 55px 35px 140px;
    }

    #godzilla {
        height: auto;
        width: 100%;
        background-size: contain;
        opacity: 0.7;
        position: absolute;
        left: 0;
        top: 0;
        grid-row: 1;
    }

    .container p {
        grid-row: 4;
    }

    .container-signers {
        grid-template-rows: 200px 55px 1fr;
    }

    .edit {
        grid-row: 5;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: repeat(4, 40px);
        justify-content: center;
        margin-top: 40px;
        margin-right: 50px;
    }

    .edit input {
        width: 150px;
        height: 30px;
        margin: 5px;
    }

    .edit input,
    label {
        font-size: 16px;
    }

    .edit input,
    .edit button {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .edit button {
        margin-left: 40px;
    }

    .edit label {
        display: inline-block;
        width: 100px;
        text-align: right;
    }

    .edit .labelinput1 {
        grid-row: 1;
    }

    .edit .labelinput2 {
        grid-row: 2;
    }

    .edit .labelinput3 {
        grid-row: 3;
    }

    .edit .labelinput4 {
        grid-row: 4;
    }

    .nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .nav div {
        margin: 10px;
        font-size: 14px;
        font-weight: 100;
    }

    .signers {
        grid-row: 3;
    }

    .signers div {
        text-align: center;
        -webkit-animation: popup 2s;
        animation: popup 2s;
    }

    .signers div p {
        font-size: 14px;
    }

    @keyframes popup {
        from {
            transform: translateY(100%);
            opacity: 0;
        }
        to {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .thankswrapper {
        grid-row: 5;
        display: grid;
        grid-template-rows: 30px 110px 30px 30px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .thankswrapper p {
        grid-row: 1;
        text-align: center;
    }

    .signform {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    #error,
    #success {
        padding: 5px;
        height: 50px;
        width: 700px;
        grid-row: 3;
        margin: 0 auto;
    }

    #error {
        background: yellow;
        color: red;
    }

    #signerslink {
        /* margin-top: 270px; */
        grid-row: 3;
    }

    #success {
        background: green;
    }

    #success,
    #success h3 {
        -webkit-animation: dissolve 4s;
        animation: dissolve 4s;
        opacity: 0;
    }

    @keyframes dissolve {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    #deletesig {
        margin-top: 0px;
    }

    #delete {
        border: none;
        width: auto;
        text-decoration: underline;
        background: #424242;
        box-shadow: none;
        grid-row: 4;
    }

    #sigpic,
    #signature {
        grid-row: 2;
    }

    #signature {
        width: 700px;
        height: 100px;
        border: 3px dotted #0d0c1d;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    form {
        margin-top: 70px;
    }

    .container {
        grid-template-rows: 100px 60px 50px;
    }

    .container p {
        padding-top: 80px;
        font-size: 20px;
    }

    .signers {
        padding-top: 50px;
    }

    .wrapper {
        grid-template-rows: 40px 100px;
        margin-top: 60px;
    }

    #signature {
        width: 334px;
        height: auto;
        position: absolute;
        left: 2px;
        top: 50%;
    }

    #signature img {
        width: 100%;
        height: auto;
    }
}
